@import "./estilos/cabecalho.css";
@import "./estilos/banner.css";

/* Reset */
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Variáveis */
:root
{
    --background: #FFFFFF;
    --background-input: #EFEFEF;
    --cor-media: #444444;
    --cor-destaque: #8FFF24;
    --cor-destaque-secundaria: #FF55DF;
    --cor-botao: #780BF7;
    --background-secundario: #090129;     
    --cor-de-fundo-secundaria: #430091;
    --cor-titulos: #0B254B;
    --fonte: "Poppins", sans-serif;
    --fonte-titulo: "Orbitron", sans-serif;    
}

/* Estilos gerais */
.projeto
{
    background-color: var(--background);
    font-family: var(--fonte);
    line-height: 1.5rem;
    max-width: 100vw; 
    box-sizing: border-box;   
}

