.categorias__list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto auto;
    grid-template-areas: 
    "roupas roupas decoracao"
    "canecas acessorios acessorios";
    gap: 24px;
}

.categorias__list_item-roupas
{
    grid-area: roupas;
}

.categorias__list_item-decoracao
{
    grid-area: decoracao;
}

.categorias__list-item-canecas
{
    grid-area: canecas;
}

.categorias__list_item-acessorios
{
    grid-area: acessorios;
}

.categorias__list_item_container img
{
    height: 331px;
    width: 100%;
    object-fit: contain;
}

.categorias__list_item_container
{
    background-color: var(--background-secundario);
    text-align: center;
}

.categorias__list_item
{
    box-shadow: 0px 4px 24px 0px #7B7B7B26;
}

.categorias
{
    padding: 80px 12.5%;
}

.categorias__titulo
{
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    font-family: var(--fonte-titulo);
    color: var(--cor-titulos);
    margin-bottom: 40px;
}

.categorias__texto
{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #5E6E89;
    margin-bottom: 40px;    
}

.categorias__list_item_titulo
{
    font-size: 31px;
    font-weight: 700;
    line-height: 37.7px;
    font-family: var(--fonte-titulo);
    color: var(--cor-titulos);
    padding: 16px 0;
    text-align: center;
}

/* versão smartphone */
@media screen and (max-width: 768px)
{
    .categorias
    {
        padding: 2rem;
    }

    .categorias__list
    {
        display: flex;
        flex-direction: column;               
    }

    .categorias__titulo
    {
        font-size: 25px;
        margin-bottom: 1rem;       
    }

    .categorias__texto
    {
        font-size: 16px;
        line-height: 120%;
        margin-top: 0;
    }

    .categorias__list_item_titulo
    {
        font-size: 25px;
    }
}